$heading-color: #222;
$paragraph-color: #444;

.article{
  display: flex;
  flex-direction: column;  
}

.article-text{
  padding: 20px;
  h1{
    color: $heading-color;
    margin-bottom: 10px;
  }
  p{
    color: $paragraph-color;    
  }
}

.block{  
  height: 50vh;
}

img{
  display: block;
  max-width: 100%;
  height: 100%;  
  object-fit: cover;
}