@import './index.scss';
$navbar-lineheight: 7vh;

*li{
  list-style: none;
}

nav{
  display: flex;
  flex-direction: column;
  background-color: $primary-nav-color;
  color: white;   
  text-transform: uppercase;
  width: 100%;
  text-align: center;  

  @include breakpoint(tablet_1024w){
    flex-direction: row;
  }  

  h1{
    font-family: 'Ruslan Display', cursive;    
    z-index: 1;
    margin-top: 10px;       
    font-size: 35px;

    @include breakpoint(tablet_768w){
      margin-left: 30px;
      font-size: 45px;
    }

    @include breakpoint(tablet_1024w){
      margin-top: 0;  
      position: absolute;
      line-height: $navbar-lineheight; 
    }
  }   
  
  .logo{

    @include breakpoint (desktop_1200w){
      overflow: hidden;
      position: absolute;
      height: $navbar-lineheight;
      width: 40%;    
    }
  }

  .gear{    

    @include breakpoint(desktop_1200w){    
    background-image: url('../img/gear.png');
    background-size: cover;
    object-fit: cover;    
    width: 580px;
    height: 570px;   
    position: absolute;   
    left: -190px; 
    top: -200px;
    
    z-index: 0;    
    transform: translate(-50% -50%);
    animation: clock 50s linear infinite;   
    }
  }

  .navbar{ 
    font-size: 25px;     
    
    @include breakpoint(tablet_768w){
      font-size: 30px;
    }

    @include breakpoint(tablet_1024w){
      font-size: 20px;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: flex-end;
      margin-right: 3vw;
      line-height: $navbar-lineheight; 
    }
    
    .navlist{
      cursor: pointer;
      
      @include breakpoint(tablet_1024w){
        display: flex;
        padding-right: 30px;
      }  
      
      .navlist-main{

        @include breakpoint(tablet_1024w){          
          padding-left: 50px;
        }
      }

      .navlist-drop{

        @include breakpoint (tablet_1024w){
          margin: 0;          
          line-height: $navbar-lineheight;          
          position: absolute;
          transform: translate(-20%, -2px);
          z-index: 1;
          background-color: $primary-nav-color;
          width: 135px;
        }
      }
    }     
    
    i{
      margin-left: 10px;
      transition: 0.5s;
    }
  }

  .user{
    cursor: pointer;
    display: flex;    
    justify-content: center;
    line-height: $navbar-lineheight; 

    @include breakpoint(tablet_768w){
      margin-bottom: 15px;
    }    
    
    @include breakpoint(tablet_1024w){
      margin-bottom: 0;
    }
    
    i{
      margin-left: 20px;
      line-height: $navbar-lineheight; 
    }
  }
}

@keyframes clock {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

